{% extends "base.html" %}


{% block title %}About | {{ block.super }}{% endblock %}

{% block content %}  
    <div class="container" style="background-color: rgba(31, 29, 29, 0.523)">
        <h1 class="lead" style="text-align: center; color: aliceblue;">
            <em> About Us </em>    
        </h1>
        <blockquote class="blockquote" style="color: aliceblue;">
            <p style="text-align: center">This is a medical blog that will contain up-to-date information about new discoveries in medicine,
                effective medicines and treatment methods.</p>
            <p style="text-align: center">This is a platform where you can find and share useful medical information.</p>
            <p style="text-align: center">Our mission is to provide accurate and valuable health-related content to our readers.</p>     
        </blockquote>
    </div>  
{% endblock %}
