{% extends 'base.html' %}

{% block title %}Login | Medical Blog{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login to Medical Blog</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Log in</button>
                            </div>
                        </form>
                        <div class="my-3 text-center">
                            <p>Don't have an account?</p>
                            <a href="{% url 'register' %}" class="text-body fw-bold">Join us now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
