{% extends 'base.html' %}


{% block title %}Register | {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Join Medical Blog</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.username }}
                                <label for="username" class="form-label">Username</label>
                                <!-- <input type="text" class="form-control" id="username" name="username" required> -->
                                <label for='username'>{{  form.username.lable }}</label>
                                {% if form.username.errors %}
                                    <div class="text-danger">{{ form.username.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.email }}
                                <label for="email" class="form-label">{{ form.email.label }}</labe>
                                <div>{{ form.email.errors }}</div>
                                <!-- <input type="email" class="form-control" id="email" name="email" required> -->
                            </div>
                            <div class="mb-3">
                                {{ form.password }}
                                <label for="password1" class="form-label">{{ form.password.label }}</label>
                                <div>{{ form.password.errors }}</div>
                                <!-- <input type="password" class="form-control" id="password1" name="password1" required> -->
                            </div>
                            <div class="mb-3">
                                {{ form.confirm_password }}
                                <label for="password2" class="form-label">{{ form.confirm_password.label }}</label>
                                <div>{{ form.confirm_password.errors }}</div>
                                <!-- <input type="password" class="form-control" id="password2" name="password2" required> -->
                            </div>
                            <div class="d-grid gap-2">
                                <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Register</button>
                            </div>
                        </form>
                        <div class="my-3 text-center">
                            <p>Already have an account?</p>
                            <a href="{% url 'login' %}" class="text-body fw-bold">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
